.container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    list-style-type: none;
    gap: 30px;
}

.item {
    width: 100%;
    font-size: 18px;
    line-height: 40px;
    display: flex;
    gap: 10px;
}

.item2 {
    padding-right: 20px;
    padding-bottom: 20px;
    width: 100%;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.circle {
    width: 40px;
    height: 40px;
    border: 1px solid var(--main-color2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}