.h1 {
	margin-bottom: 150px;

	font-size: 50px;
	font-weight: 400;
	font-style: normal;
	line-height: normal;
}

.info-wrap {
	display: flex;
	gap: 50px;
}

.span-info {
	margin-bottom: 16px;

	font-size: 48px;
	font-weight: 400;
	font-style: normal;
	line-height: 48px;
}

.info {
	font-size: 24px;
	line-height: 24px;
}

.card-info-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 50px;
}

.client-wrap {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

.client-wrap img {
	filter: grayscale(0.9);
	transition: filter 0.3s ease-in-out;
}

.client-wrap img:hover {
	filter: grayscale(0);
}

